.MuiInputBase-root.MuiInputBase-colorPrimary.css-16c50h-MuiInputBase-root-MuiTablePagination-select {
    display: none;
}

p#\:r1\: {
    display: none;
}

p.MuiTablePagination-displayedRows.css-levciy-MuiTablePagination-displayedRows {
    font-weight: bold;
}
